<h1>Home#index</h1>
<% if !user_signed_in? %>
  <a class="btn btn-info col-xs-10 col-xs-offset-1 sign_in" href="/users/sign_in">Log in</a>
  <a class="btn btn-success col-xs-10 col-xs-offset-1 sign_up" href="/users/sign_up">Sign Up</a>
<% else %>
  <a class="btn btn-info col-xs-10 col-xs-offset-1 sign_in" href=<%= user_path(current_user.id) %>>Log in</a>
  <a class="btn btn-success col-xs-10 col-xs-offset-1 sign_up" href=<%= user_path(current_user.id) %>>Sign Up</a>
<% end %>
